/* This file defines the css elements of the map page */

/* sets style for page body */
body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #03537f;
  background-color: #dce7ef;
}

/* sets style for root of entire project */
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* sets page header size */
.pageHeader {
  font-size: large;
  margin: 0;
  text-align: center;
}

/* makes header dynamic for different screen sizes */
@media only screen and (max-width: 768px)
{
  /* stack header vertically on smaller screens and shrink font size */
  .pageHeader {
    flex-direction: column;
    font-size: smaller;
  }
}

/* sets second page header size */
.secondHeader {
  font-size: medium;
  font-style: italic;
  margin: 0;
  text-align: center;
  color: #008CBA;
}

/* makes header dynamic for different screen sizes */
@media only screen and (max-width: 768px)
{
  /* stack header vertically on smaller screens and shrink font size */
  .secondHeader {
    flex-direction: column;
    font-size: small;
  }
}

/* sets style for container around box, overflow keeps map from spilling out of container */
.myMapWrapper{
  position: relative;
  height: 100vh;
  width: 95%;
  margin: 0 auto;
  border: 2px solid #008CBA;
  overflow: hidden;
}

/* ensures map fits into wrapper box */
.myMapWrapper .leaflet-container{
  height: 100vh;
  width: 100%;
}

/* sets size for Leaflet map container */
.leaflet-container{
  height: 100vh;
  width: 100%;
  background-color: #dce7ef;
}

/* sets placement of map buttons, creates specific container for buttons*/
/* defaults to be horizontal for larger screens */
.mapButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 2rem 0;
}

/* makes buttons dynamic for different screen sizes */
@media only screen and (max-width: 768px)
{
  /* stack buttons vertically on smaller screens */
  .mapButtons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* sets style of buttons */
.mapButtons button {
  background-color: lightblue;
  border: 2px solid #008CBA;
  color:#008CBA;
  padding: 8px 16px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 4px;
}

/* when hovering over buttons, change color of button */
.mapButtons button:hover {
  background-color: #008CBA;
  color: lightblue;
  border: 2px solid rgb(112, 176, 198);
}

/* sets style of list, creates specific container for list */
.locationsList {
  text-align: center;
  list-style-position: inside;
  background-color: aliceblue;
  background-repeat: no-repeat;
  border: 2px solid  #008CBA;
  padding: 4px;
  width: 90%;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

/* makes list dynamic for different screen sizes */
@media only screen and (max-width: 768px)
{
  /* changes list to better fit window size */
  .locationsList {
    width: 80%;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

/* sets style of list inside container, if it gets too long, scrollable*/
.locationsList ul{
  list-style-type: decimal;
  list-style-position: inside;
  max-height: 200px;
  overflow-y: auto;
  padding: 4px;
}

/* sets style of list item*/
.locationsList ul li{
  border: 2px solid rgb(68, 100, 128);
  padding: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: left;
}

/* sets style of list buttons*/
.locationsList button{
  background-color: lightblue;
  border: 2px solid #008CBA;
  color:#008CBA;
  padding: .5px .5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
}

/* makes buttons dynamic for different screen sizes */
@media only screen and (max-width: 768px)
{
  /* lessen padding, shift buttons further apart and make font smaller */
  .locationsList button {
  padding: 1px 1px;
  margin-right: 8px;
  font-size: 14px;
  }
}

/* when hovering over list buttons, change color of button */
.locationsList button:hover {
  background-color: #008CBA;
  color: lightblue;
  border: 2px solid rgb(112, 176, 198);
}

/* ensure search bar is above map,
 z-index specifices the stack order, ensures that it's above map and accessible 
 !important overrides Leaflet's internal style */
.leaflet-control-geosearch form {
  background-color: #dce7ef !important;
  border: 4px solid #008CBA;
  z-index: 1000 !important;
  padding: 4px;
}

/* ensure input box is light and matches rest of page style */
.leaflet-control-geosearch input {
  background-color: #dce7ef !important;
  color: #03537f;
  z-index: 1000 !important;
  padding: 4px;
}


