/* This file defines the css elements of the map page*/

/* using simple selecter to select all elements 
to make it look the same in all browsers*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* sets size for Leaflet map container */
.leaflet-container{
  height: 100vh;
  width: 100%;
}
